<%- include('parts/html-head') %>
<%- include('parts/navbar') %>


<style>

em {
            color: red;
        }

</style>

<div class="container">


    <div class="row">
        <div class="col-lg-6">
            <div class="card">
    
                <div class="card-body">
                  <h5 class="card-title">新增會員個人資料</h5>

                  <form name="form1" onsubmit="sendData(); return false;">
                    <div class="mb-3">
                      <label for="name" class="form-label">name <em>(必填)</em></label>
                      <input type="text" class="form-control" id="name" name="name">
                      <div class="form-text"></div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">email<em>(必填)</em></label>
                        <input type="text" class="form-control" id="email" name="email">
                        <div class="form-text"></div>
                    </div>

                      <div class="mb-3">
                        <label for="mobile" class="form-label">mobile<em>(必填)</em></label>
                        <input type="text" class="form-control" id="mobile" name="mobile">
                        <div class="form-text"></div>
                      </div>

                      <div class="mb-3">
                        <label for="birthday" class="form-label">birthday</label>
                        <input type="date" class="form-control" id="birthday" name="birthday">
                      </div>

                      <div class="mb-3">
                        <label for="address" class="form-label">address</label><br>
                        <select id="City"></select>
                        <select id="District"></select>
                        <textarea class="form-control" name="address" id="address" cols="50" 
                        rows="3"></textarea>
                      </div>

                    <button type="submit" class="btn btn-primary">新增</button>
                  </form>



                </div>
              </div>


        </div>
    </div>



</div>

<%- include('parts/scripts') %>
<script>
const name = $('#name');
const email = $('#email');
const mobile = $('#mobile');
const email_re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
const mobile_re = /^09\d{2}-?\d{3}-?\d{3}$/;

function sendData(){
    name.next().html('');
    name.css({ border: '1px solid #CCCCCC' });
    email.next().html('');
    email.css({ border: '1px solid #CCCCCC' });
    mobile.next().html('');
    mobile.css({ border: '1px solid #CCCCCC' });

    //前端的 欄位資料的檢查
    let isPass = true;

    if(name.val().length < 2){
        isPass = false;
        //alert('請輸入正確的姓名');
        name.next().html('請輸入正確的姓名');
        name.css({
            border: '1px solid red'
        });
    }

    if(! email_re.test(email.val())){
        isPass = false;
        email.next().html('請輸入正確的 email');
        email.css({
            border: '1px solid red'
        });
    }

    if(! mobile_re.test(mobile.val())){
        isPass = false;
        mobile.next().html('請輸入正確的手機號碼');
        mobile.css({
            border: '1px solid red'
        });
    }


    if(isPass) {
        $.post('', $(document.form1).serialize(), function(data){  //serialize轉換成url encoding 的格式
            console.log(data);
            if(data.success){
              alert('資料新增成功');
              location.href = '/address-book'; //轉向到列表頁
            } else {
              alert(data.error || "資料新增失敗");
            }
        }, 'json');

    }

}


//匯入台灣行政區
$.each(data, function (index, city) {
  $("#City").append(`<option value="${index}">${city.name}</option>`)
})

$("#City").change(function () {
  let cityindex = $(this).val();
  console.log(cityindex)
  let city=data[cityindex];
  console.log(city);
  

  $("#District").empty();

  $.each(city.districts, function (cityindex, districts) {
    $("#District").append(`<option>${districts.zip}${districts.name}</option>`);
    })
})
  

$("#City").change();  //激活"#City" 的change 事件 讓#City的select擁有初值
        

</script>
<%- include('parts/html-foot') %>